body {
  margin: 48px 24px;
  font-family: Helvetica, Sans-Serif;
}

.row {
  margin: 24px 0;
}

.error {
  margin: 4px;
  background: pink;
  color: red;
  margin: 0;
  padding: 12px;
}

.element {
  display: inline-block;
  margin: 0 0.3ch;
}

.word {
  font-family: Georgia, Times, Serif;
  padding-bottom: 4px;
  border-bottom: 1px solid #c0c0c0;
}

.position {
  font-size: 9px;
  padding-top: 4px;
  color: #c0c0c0;
}

input {
  font-family: Monospace;
  font-size: 14px;
  padding: 4px;
  border: 2px solid #f0f0f0;
}

button {
  font-size: 14px;
  padding: 4px;
  color: white;
  background: #606060;
  border: 2px solid #404040;
}

#command {
  width: 20em;
}

#line {
  font-size: 20px;
}